.ct-series-b .ct-line {
	stroke #555
}

.ct-line {
	stroke-width 2px
}

.ct-series-a .ct-point {
	stroke #C38789
}

.ct-point{
	stroke-width 5px
	stroke-linecap round
	transition all 0.2s linear
}
.ct-point:hover{
	stroke-width 10px
	stroke tomato
}
.chartist-tooltip {
	position absolute
	background #888
	color #eee
	padding 10px
}

#stats {
	display none
	font-size 12px
	>p {
		margin-top 0
	}
}

.ct-series-c .ct-area {
	fill #000
}


$circle_size = 80px
$circle_border_width = 0px
.statsHighlight {
	display flex
	>div {
		flex 0 1 auto
		width 50%
		display inline-block
		p {
			text-align center
			padding 0 10px

		}
	}
	.circle {
		width $circle_size
		height $circle_size
		border-radius ($circle_size/2)
		font-size 12px
		color #fff
		line-height ($circle_size - ($circle_border_width*2 ))
		text-align center
		background #79D294
		border $circle_border_width solid #79D294
		box-sizing border-box
		margin auto
	}

	.decline {
		display none
	}
	.negative {
		.circle {
			background tomato
		}
		.decline {
			display inline
		}
		.growth {
			display none
		}
	}
}
