.step {
	position relative
}
$numberHeight = 25px
.numbering {
	position absolute
	left -40px
	top -5px
	border 1px solid #444
	border-radius 50%
	width $numberHeight
	height $numberHeight
	line-height $numberHeight
	text-align center
	font-size 12px
	display block
}